<!-- HERO SECTION -->
<section class="hero-section-wrapper">
    <section class="hero-section">
        <div class="hero-content">
            <h1 class="hero-content-header">Eventeer & Meet and buy!</h1>
            <p class="hero-content-description">Campaigns of limited products available immediately! high-quality IT equipment</p>
            <div class="hero-links-container">
                <a href="#benefits-section-content" class="hero-content-link">Learn more</a>
                <a href="/search"class="hero-content-link search-button">Search for items</a>
            </div>
        </div>
    </section>
</section>

<!-- FEATURED SECTION -->
<section class="featured-section">
    <div class="featured-section-content">
        <h1>NEWEST ITEMS</h1>
        <p>Here you can check the newest items in our upcoming Campaigns!</p>
    </div>
    <a class="featured-link" href="/search">Check our offer</a>
</section>

<!-- BENEFITS SECTION -->
<section class="benefits-section">
    <div *ngFor="let item of benefitItems" class="benefits-section-content" id="benefits-section-content">
        <img class="benefits-image" src={{item.ImgUrl}} alt={{item.title}}>
        <h3 class="benefits-header"> {{item.title}} </h3>
        <p class="benefits-description">{{item.description}}</p>
    </div>
</section>

<!-- GALLERY -->
<section class="gallery-section">
    <div class="gallery-content-header">
        <h4>SEE OUR WORK</h4>
    </div>
    <img *ngFor="let item of galleryItems" src={{item.url}} alt={{item.title}} class="gallery-image-item">
</section>