.form-content-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.form-buttons-container{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
}