<div mat-dialog-title>
    <h1>Add / Edit Campaign</h1>
</div>
<form [formGroup]="campaignForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content>
        <div class="form-content-container">
            <mat-form-field>
                <mat-label>Campaign Image (URL)</mat-label>
                <input matInput type="text" placeholder="Campaign Image (URL)" formControlName="campaignImage">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Campaign name</mat-label>
                <input matInput type="text" placeholder="Campaign name" formControlName="campaignName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Keywords</mat-label>
                <input matInput type="text" placeholder="Keywords" formControlName="keywords">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bid amount (min: 100)</mat-label>
                <input matInput type="number" placeholder="Bid amount" formControlName="bidAmount" min="100">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Campaign fund</mat-label>
                <input matInput type="number" placeholder="Campaign fund" formControlName="campaighFund">
            </mat-form-field>
            <mat-radio-group aria-label="Select an option" formControlName="campaignStatus">
                <mat-label>CampaignStatus</mat-label>
                <mat-radio-button value="on">ON</mat-radio-button>
                <mat-radio-button value="off">OFF</mat-radio-button>
            </mat-radio-group>
            <mat-form-field>
                <mat-label>Campaign Town</mat-label>
                <mat-select formControlName="campaignTown">
                    <mat-option *ngFor="let town of campaignTownList" [value]="town">
                        {{ town }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Campaign Radius (km)</mat-label>
                <input matInput type="number" placeholder="Campaign Radius" formControlName="campaignRadius">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="form-buttons-container">
        <button mat-raised-button (click)="cancelDialogForm()" type="button">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update Campaign' : 'Add Campaign'}}</button>
    </div>
</form>