.not-found-container{
    width: 100%;
    min-height: 600px;
    height: calc(100vh - 190px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.not-found-container h1{
    font-size: 196px;
    color: #333b80;
    height: max-content;
    height: 150px;
    display: flex;
    align-items: center;
}
.not-found-container p{
    font-size: 46px;
    color: #333b80;
}