.footer{
    margin-top: 100px;
    width: 100%;
    min-height: 400px;
    background-color: #111;
    padding: 60px 90px;
    box-sizing: border-box;
}
.footer-inner-container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin: 0 auto;
    max-width: 1300px;
    box-sizing: border-box;
    width: 100%;
}
.footer-inner{
    padding: 10px;
    box-sizing: border-box;
}
.inner-list{
    list-style: none;
}
.inner-list-item{
    padding: 5px 0;
    transition: 0.3s all;
}
.inner-list-item:hover{
    padding: 5px;
}
.footer-inner-header{
    color: #FFF;
    padding-bottom: 20px;
}
.item-link{
    text-decoration: none;
    color: #EEE;
}
.footer-description{
    color: #EEE;
    padding: 10px 0;
}
@media screen and (max-width: 960px) {
    .footer-inner-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 660px) {
    .footer-inner-container{
        grid-template-columns: repeat(1,1fr);
    }
}