<footer class="footer">
    <div class="footer-inner-container">
        <div class="footer-inner">
            <h2 class="footer-inner-header">Eventeer</h2>
            <p class="footer-description">Dipisicing as dolor sit amet consectetur.</p>
            <p class="footer-description">Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
        </div>
        <div class="footer-inner">
            <h2 class="footer-inner-header">Links</h2>
            <ul class="inner-list">
                <li class="inner-list-item"><a href="#" class="item-link">Home</a></li>
                <li class="inner-list-item"><a href="#" class="item-link">Informations</a></li>
                <li class="inner-list-item"><a href="#" class="item-link">Manage</a></li>
                <li class="inner-list-item"><a href="#" class="item-link">Login</a></li>
            </ul>
        </div>
        <div class="footer-inner">
            <h2 class="footer-inner-header">About</h2>
            <ul class="inner-list">
                <li class="inner-list-item"><a href="#" class="item-link">Privacy</a></li>
                <li class="inner-list-item"><a href="#" class="item-link">License</a></li>
                <li class="inner-list-item"><a href="#" class="item-link">About</a></li>
                <li class="inner-list-item"><a href="#" class="item-link">Informations</a></li>
            </ul>
        </div>
        <div class="footer-inner">
            <h2 class="footer-inner-header">Socialmedia</h2>
            <ul class="inner-list">
                <li class="inner-list-item"><a href="#" class="item-link">Youtube</a></li>
                <li class="inner-list-item"><a href="#" class="item-link">Facebook</a></li>
                <li class="inner-list-item"><a href="#" class="item-link">Instagram</a></li>
                <li class="inner-list-item"><a href="#" class="item-link">Twitter</a></li>
            </ul>
        </div>
    </div>
</footer>