<section class="offer-page-container">
    <a href="/search" class="back-to-search-link"><fa-icon [icon] = "faArrowAltCircleLeft"></fa-icon> Back to search page</a>
    <img class="event-image" src="{{eventCampaignData.campaignImage}}" alt="{{eventCampaignData.campaignName}}">
    <div class="event-title-container">
        <h1 class="event-title">{{eventCampaignData.campaignName}}</h1>
    </div>
    <div class="event-description-container">
        <table>
            <tr>
              <td>Campaign id:</td>
              <td>{{ eventCampaignData.id }}</td>
            </tr>
            <tr>
              <td>Bid event campaign amount:</td>
              <td>{{ eventCampaignData.bidAmount }}</td>
            </tr>
            <tr>
              <td>Campaign Fund:</td>
              <td>{{ eventCampaignData.campaighFund }}</td>
            </tr>
            <tr>
              <td>Campaign status:</td>
              <td>{{ eventCampaignData.campaignStatus }}</td>
            </tr>
            <tr>
              <td>Campaign Town:</td>
              <td>{{ eventCampaignData.campaignTown }}</td>
            </tr>
            <tr>
              <td>Campaign Raduis:</td>
              <td>{{ eventCampaignData.campaignRadius }}</td>
            </tr>
          </table>
    </div>
</section>